@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body {
  background-color: #232222;
  font-family: "Lucida Console";
  color: #f2f2f2;
  line-height: 1.6;
}
* {
    font-family: "Lucida Console";
  }

.createhabit, .homepage {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #232222;
  border-radius: 10px;
  color: #f2f2f2;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

.createhabit h2, .homepage h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.createhabit label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

.createhabit input, .createhabit textarea, .homepage button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #232222;
  font-family: "Lucida Console";
  font-size: 1em;
}

.createhabit button, .homepage button {
  background-color: #395240;
  color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Lucida Console";
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.createhabit button:hover, .homepage button:hover {
  background-color: #2e3d30;
}

.createhabit p {
  color: #f2f2f2;
}

/* For .habits div */
.habits {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232222;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .habits button {
    background-color: #395240;
    color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Lucida Console";
    transition: background-color 0.3s ease;
  }
  
  .habit {
    background-color: #232222;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    color: #f2f2f2;
  }
  
  .habit h1 {
    color: #f2f2f2;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .habit h2 {
    color: #f2f2f2;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .habit p {
    color: #f2f2f2;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .habit button {
    background-color: #395240;
    color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Lucida Console";
    transition: background-color 0.3s ease;
  }
  
  .habit button:hover {
    background-color: #2e3d30;
  }
