.createhabit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
  }
  
  .createhabit h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .createhabit label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .createhabit input, .createhabit textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .createhabit button {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .createhabit button:hover {
    background-color: #ff4500;
  }
  
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
  }
  
  .homepage h1 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .homepage button {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .homepage button:hover {
    background-color: #ff4500;
  }

  
/* For .habits div */
.habits {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .habit {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  .habit h1 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .habit h2 {
    color: #666666;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .habit p {
    color: #999999;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .habit button {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .habit button:hover {
    background-color: #ff4500;
  }